<div class="md-padding" ng-cloak layout="column">
	<form style="Width: 400px; overflow-x: hidden;'">
		<md-content layout-padding>
				<md-subheader class="md-primary" style="text-align: center;"><h2>Schedule an appointment</h2></md-subheader>
				<div layout-gt-xs="row">
					<md-input-container>
						<label>Calendar:</label>
						<md-select ng-model="selectedCalendar"> <md-option
							ng-repeat="calendar in calendars" ng-value="calendar">{{calendar.summary}}</md-option>
						</md-select>
					</md-input-container>
				</div>
	
				<div layout-gt-xs="row">			
					<md-input-container>
						<label>Patient():</label> 
						<input type="email" ng-model="attendees" />
					</md-input-container>
				</div>
				
			    <div layout-gt-xs="row">
			    	<div flex-gt-xs>
					<label>Start Date</label>
					<md-datepicker ng-model="eventStartDate"></md-datepicker>
					</div>
				</div>
				<!-- Time can be made a dropdown of values -->
				<div layout-gt-xs="row">
					<md-input-container>
						<label>Start Time:</label> 
						<input type="text" ng-model="eventStartTime" />
					</md-input-container>
				</div>
				
				<div layout-gt-xs="row">
					<div flex-gt-xs>
						<label>End Date</label>
						<md-datepicker ng-model="eventEndDate"></md-datepicker>
					</div>
				</div>
		
				<div layout-gt-xs="row">		
					<md-input-container>
						<label>End Time:</label> <input type="text" ng-model="eventEndTime" />
					</md-input-container>
				</div>				
				
				<div layout-gt-xs="row">
					<md-button class="md-primary md-raised" ng-click="addEvent()"
						ng-disabled="!selectedCalendar">Create</md-button>
					<md-button class="md-primary md-raised" ng-click="cancelEvent()">Cancel</md-button>
				</div>
		</md-content>
	</form>
</div>