<div>
	<form>
		<md-content layout-padding>
    		<div layout-gt-xs="row">
				<div ng-show="!loggedIntoGoogle">
					<md-button class="md-primary md-raised" ng-click="login()">Login To Google</md-button>
				</div>
			</div>
			
		<div ng-show="loggedIntoGoogle">
			<md-input-container>
			<div layout-gt-xs="row">
				<div flex-gt-xs>
					<label>Calendar:</label>
					<md-select ng-model="selectedCalendar"> <md-option
						ng-repeat="calendar in calendars" ng-value="calendar">{{calendar.summary}}</md-option>
					</md-select>
				</div>
			</div>
			</md-input-container>
			
			<div layout-gt-xs="row">
				<label>Attendees:</label> 
				<input type="text" ng-model="attendees" />
			</div>
			
		    <div layout-gt-xs="row">
				<label>Start Date</label>
				<md-datepicker ng-model="eventStartDate"></md-datepicker>
			</div>
			<!-- Time can be made a dropdown of values -->
			<div layout-gt-xs="row">
				<label>Start Time:</label> 
				<input type="text" ng-model="eventStartTime" />
			</div>
			
			<div layout-gt-xs="row">
				<label>End Date</label>
				<md-datepicker ng-model="eventEndDate"></md-datepicker>
			</div>
			
			<div layout-gt-xs="row">
				<label>End Time:</label> <input type="text" ng-model="eventEndTime" />
			</div>
			
			<div layout-gt-xs="row">
				<md-button class="md-primary md-raised" ng-click="addEvent()"
					ng-disabled="!selectedCalendar">Create</md-button>
			</div>
		</div>
	</form>
</div>